.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap : 20px;
}
.wrapper button {
  padding: 10px 20px;
  font-size: 20px;
  background: #614101;
    color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-color: #fff;
  border-radius: 6px;
}
.accordian {
  width: 500px;
}
.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  color: white;
  height: auto;
}
