.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  padding: 170px 20px 20px;
  max-width: 1200px;
  overflow-y: auto; 
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product {
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product p {
  font-weight: bold;
  font-size: 20px;
}
.product img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.button-container button {
  padding: 12px 16px;
  font-size: larger;
  font-weight: bolder;
  margin: 20px;
}
