.tree-view-container{
    min-height: 100vh;
    width: 350px;
    background: rgb(0, 71, 110);
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 20px;
    color: azure;
    cursor: pointer;
}


.menu-list-container{
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
}