.active {
  color: #fff700;
}
.inactive {
  color: black;
}
.star-rating{
    
        width: "100vw";
        height: "100vh";
        background-color: aquamarine;
}
.abc{
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}