.menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
}

.content {
  padding: 20px;
}
.App{
  height: 100vh;
  width: 100%;
}

.App h1{

font-size:40px;
text-align: center;
  font-weight: bold;
}

.menu button{
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}