button {
   padding: 14px 22px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  background-color: rgb(235, 234, 241);
    cursor: pointer;
}
.color{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text{
    font-size:40px;
text-align: center;
  font-weight: bold;
}